<div class="row" data-ng-controller="ProjectsController">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <h2>New Project</h2>
                            </div>

                            <form class="form-horizontal" data-ng-submit="create()" novalidate>
                                <div class="form-group"><label class="col-lg-2 control-label">Title</label>
                                    <div class="col-lg-10">
                                        <input type="text" data-ng-model="title" id="title" placeholder="Title" required autofocus class="form-control">
                                    </div>
                                </div>
                                <div class="form-group" ng-init="getUsers()"><label class="col-lg-2 control-label">Assign to</label>
                                    <div class="col-lg-10">
                                        <select
                                                chosen
                                                multiple
                                                data-ng-model="team"
                                                id="team"
                                                required
                                                class="form-control"
                                                data-placeholder-text-single="'Choose a user'"
                                                ng-options="user.username for user in users">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-init="today()"><label class="col-lg-2 control-label">From</label>
                                    <div class="col-lg-10">
                                        <p class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                            <input type="text"
                                                   class="form-control"
                                                   uib-datepicker-popup="{{format}}"
                                                   data-ng-model="from"
                                                   is-open="popup1.opened"
                                                   datepicker-options="dateOptions"
                                                   ng-required="true"
                                                   close-text="Close"
                                                   alt-input-formats="altInputFormats" />
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group" ng-init="today()"><label class="col-lg-2 control-label">Due to</label>
                                    <div class="col-lg-10">
                                        <p class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                            <input type="text"
                                                   class="form-control"
                                                   uib-datepicker-popup="{{format}}"
                                                   data-ng-model="due_to"
                                                   is-open="popup2.opened"
                                                   datepicker-options="dateOptions"
                                                   ng-required="true"
                                                   close-text="Close"
                                                   alt-input-formats="altInputFormats" />
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-lg-2 control-label">Comments</label>
                                    <div class="col-lg-10">
                                        <textarea data-ng-model="comment" id="comment" cols="30" rows="10" placeholder="Comment" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group" ng-init="getTags()"><label class="col-lg-2 control-label">Tags</label>
                                    <div class="col-lg-10">
                                        <select
                                                chosen
                                                multiple
                                                data-ng-model="tags"
                                                id="tags"
                                                required
                                                class="form-control"
                                                data-placeholder-text-single="'Choose tags'"
                                                ng-options="tag for tag in allTags">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-primary" type="submit">Create</button>
                                    </div>
                                </div>
                                <div data-ng-show="error">
                                    <strong data-ng-bind="error"></strong>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>