<div class="wrapper wrapper-content  animated fadeInRight" ng-controller="IssuesController" ng-init="find()">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Issue list</h5>
                    <div class="ibox-tools">
                        <a ui-sref="issuesCreate" class="btn btn-primary btn-xs">Add new issue</a>
                    </div>
                </div>
                <div class="ibox-content">

                    <!--<div class="m-b-lg">-->

                        <!--<div class="input-group">-->
                            <!--<input type="text" placeholder="Search issue by name..." class=" form-control">-->
                            <!--<span class="input-group-btn">-->
                                        <!--<button type="button" class="btn btn-white"> Search</button>-->
                                    <!--</span>-->
                        <!--</div>-->
                        <!--<div class="m-t-md">-->

                            <!--<div class="pull-right">-->
                                <!--<button type="button" class="btn btn-sm btn-white"> <i class="fa fa-comments"></i> </button>-->
                                <!--<button type="button" class="btn btn-sm btn-white"> <i class="fa fa-user"></i> </button>-->
                                <!--<button type="button" class="btn btn-sm btn-white"> <i class="fa fa-list"></i> </button>-->
                                <!--<button type="button" class="btn btn-sm btn-white"> <i class="fa fa-pencil"></i> </button>-->
                                <!--<button type="button" class="btn btn-sm btn-white"> <i class="fa fa-print"></i> </button>-->
                                <!--<button type="button" class="btn btn-sm btn-white"> <i class="fa fa-cogs"></i> </button>-->
                            <!--</div>-->

                            <!--<strong>Found 61 issues.</strong>-->
                        <!--</div>-->

                    <!--</div>-->

                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <tbody>
                            <tr ng-repeat="issue in issues">
                                <td>
                                    <span class="label label-primary">{{issue.status}}</span>
                                </td>
                                <td class="issue-info">
                                    <a ui-sref="issue({issueId: issue._id})">
                                        {{issue.title}}
                                    </a>

                                    <small>
                                        {{issue.comment}}
                                    </small>
                                </td>
                                <td>
                                    {{issue.assign_to}}
                                </td>
                                <td>
                                    {{issue.due_to | date:"dd-mm-yyyy hh:mm:ss"}}
                                </td>
                                <!--<td>-->
                                    <!--<span class="pie" style="display: none;">0.52,1.041</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg>-->
                                    <!--2d-->
                                <!--</td>-->
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs" ng-repeat="tag in issue.tags">{{tag}}</button>
                                </td>
                            </tr>
                            <!--<tr>-->
                                <!--<td>-->
                                    <!--<span class="label label-primary">Added</span>-->
                                <!--</td>-->
                                <!--<td class="issue-info">-->
                                    <!--<a href="#">-->
                                        <!--ISSUE-17-->
                                    <!--</a>-->

                                    <!--<small>-->
                                        <!--Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text-->
                                    <!--</small>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--Anna Smith-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--10.02.2015 05:32 am-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<span class="pie" style="display: none;">3,2</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 1 1 3.297717981660216 14.47213595499958 Z" fill="#1ab394"></path><path d="M 8 8 L 3.297717981660216 14.47213595499958 A 8 8 0 0 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg>-->
                                    <!--2d-->
                                <!--</td>-->
                                <!--<td class="text-right">-->
                                    <!--<button class="btn btn-white btn-xs"> Tag</button>-->
                                    <!--<button class="btn btn-white btn-xs"> Rag</button>-->
                                <!--</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>