<div class="row" data-ng-controller="TasksController" data-ng-init="findOne()">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a ui-sref="taskEdit({taskId: task._id})" class="btn btn-white btn-xs pull-right">Edit task</a>
                                <h2>{{task.title}}</h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>Status:</dt> <dd><span class="label label-primary">Active</span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">

                                <dt>Created by:</dt> <dd>{{task.creator ? task.creator : "Anonym"}}</dd>
                                <dt>Project:</dt> <dd>{{task.project}}</dd>
                                <!--<dt>Client:</dt> <dd><a href="#" class="text-navy"></a> </dd>-->
                                <!--<dt>Phase:</dt> <dd>{{task.phase}}</dd>-->
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">

                                <dt>Last Updated:</dt> <dd>{{task.created | date:'dd.mm.yyyy hh:mm:ss'}}</dd>
                                <dt>Created:</dt> <dd>{{task.created | date:'dd.mm.yyyy hh:mm:ss'}}</dd>
                                <dt>Participants:</dt>
                                <dd class="project-people">
                                    <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
                                    <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
                                    <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
                                    <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
                                    <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Completed:</dt>
                                <dd>
                                    <div class="progress progress-striped m-b-sm">
                                        <div style="width: {{task.progress ? task.progress : 10}}%;" class="progress-bar"></div>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <h2>TODO List</h2>
                        <small>This is example of task list</small>
                        <ul class="todo-list m-t ui-sortable">
                            <li data-ng-repeat="todo in task.todos">
                                <input icheck type="checkbox" ng-model="check1">
                                <span class="m-l-xs">{{todo.title}}</span>
                                <small class="m-l-xs">{{todo.comment}}</small>
                                <small class="label label-primary"><i class="fa fa-clock-o"></i>{{todo.due_to | date:'dd.mm.yyyy hh:mm'}}</small>
                            </li>
                            <li>
                                <input icheck type="checkbox" ng-model="main.checkOne">
                                <span class="m-l-xs">Go to shop and find some products.</span>
                                <small class="label label-info"><i class="fa fa-clock-o"></i> 3 mins</small>
                            </li>
                            <li>
                                <input icheck type="checkbox" ng-model="check2">
                                <span class="m-l-xs">Send documents to Mike</span>
                                <small class="label label-warning"><i class="fa fa-clock-o"></i> 2 mins</small>
                            </li>
                            <li>
                                <input icheck type="checkbox" ng-model="check3">
                                <span class="m-l-xs">Go to the doctor dr Smith</span>
                                <small class="label label-danger"><i class="fa fa-clock-o"></i> 42 mins</small>
                            </li>
                        </ul>
                    </div>

                    <div class="row m-t-sm">
                        <tabset class="col-lg-12">
                            <div class="panel blank-panel">
                                <!--<uib-tabset active="active">-->
                                    <!--<uib-tab index="0" heading="User messages">-->
                                        <!--<div class="tab-pane active" id="tab-1">-->
                                            <!--<div class="feed-activity-list">-->
                                                <!--<div class="feed-element">-->
                                                    <!--<a href="#" class="pull-left">-->
                                                        <!--<img alt="image" class="img-circle" src="img/a2.jpg">-->
                                                    <!--</a>-->
                                                    <!--<div class="media-body ">-->
                                                        <!--<small class="pull-right">2h ago</small>-->
                                                        <!--<strong>Mark Johnson</strong> posted message on <strong>Monica Smith</strong> site. <br>-->
                                                        <!--<small class="text-muted">Today 2:10 pm - 12.06.2014</small>-->
                                                        <!--<div class="well">-->
                                                            <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.-->
                                                            <!--Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="feed-element">-->
                                                    <!--<a href="#" class="pull-left">-->
                                                        <!--<img alt="image" class="img-circle" src="img/a3.jpg">-->
                                                    <!--</a>-->
                                                    <!--<div class="media-body ">-->
                                                        <!--<small class="pull-right">2h ago</small>-->
                                                        <!--<strong>Janet Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>-->
                                                        <!--<small class="text-muted">2 days ago at 8:30am</small>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="feed-element">-->
                                                    <!--<a href="#" class="pull-left">-->
                                                        <!--<img alt="image" class="img-circle" src="img/a4.jpg">-->
                                                    <!--</a>-->
                                                    <!--<div class="media-body ">-->
                                                        <!--<small class="pull-right text-navy">5h ago</small>-->
                                                        <!--<strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>-->
                                                        <!--<small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>-->
                                                        <!--<div class="actions">-->
                                                            <!--<a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>-->
                                                            <!--<a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="feed-element">-->
                                                    <!--<a href="#" class="pull-left">-->
                                                        <!--<img alt="image" class="img-circle" src="img/a5.jpg">-->
                                                    <!--</a>-->
                                                    <!--<div class="media-body ">-->
                                                        <!--<small class="pull-right">2h ago</small>-->
                                                        <!--<strong>Kim Smith</strong> posted message on <strong>Monica Smith</strong> site. <br>-->
                                                        <!--<small class="text-muted">Yesterday 5:20 pm - 12.06.2014</small>-->
                                                        <!--<div class="well">-->
                                                            <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.-->
                                                            <!--Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="feed-element">-->
                                                    <!--<a href="#" class="pull-left">-->
                                                        <!--<img alt="image" class="img-circle" src="img/profile.jpg">-->
                                                    <!--</a>-->
                                                    <!--<div class="media-body ">-->
                                                        <!--<small class="pull-right">23h ago</small>-->
                                                        <!--<strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>-->
                                                        <!--<small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="feed-element">-->
                                                    <!--<a href="#" class="pull-left">-->
                                                        <!--<img alt="image" class="img-circle" src="img/a7.jpg">-->
                                                    <!--</a>-->
                                                    <!--<div class="media-body ">-->
                                                        <!--<small class="pull-right">46h ago</small>-->
                                                        <!--<strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>-->
                                                        <!--<small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                        <!--</div>-->
                                    <!--</uib-tab>-->
                                    <!--<uib-tab index="1" heading="Last activity">-->
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>Last activity</h5>
                                            </div>
                                            <div class="ibox-content no-padding">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <p><a class="text-info" href="#">@Alan Marry</a> I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                        <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 minuts ago</small>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <p><a class="text-info" href="#">@Stock Man</a> Check this stock chart. This price is crazy! </p>
                                                        <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 hours ago</small>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <p><a class="text-info" href="#">@Kevin Smith</a> Lorem ipsum unknown printer took a galley </p>
                                                        <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 minuts ago</small>
                                                    </li>
                                                    <li class="list-group-item ">
                                                        <p><a class="text-info" href="#">@Jonathan Febrick</a> The standard chunk of Lorem Ipsum</p>
                                                        <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 hour ago</small>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <p><a class="text-info" href="#">@Alan Marry</a> I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                        <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 minuts ago</small>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <p><a class="text-info" href="#">@Kevin Smith</a> Lorem ipsum unknown printer took a galley </p>
                                                        <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 minuts ago</small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    <!--</uib-tab>-->
                                <!--</uib-tabset>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-lg-3">-->
        <!--<div class="wrapper wrapper-content project-manager">-->
            <!--<h4>Project description</h4>-->
            <!--<img src="img/zender_logo.png" class="img-responsive">-->
            <!--<p class="small">-->
                <!--There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look-->
                <!--even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing-->
            <!--</p>-->
            <!--<p class="small font-bold">-->
                <!--<span><i class="fa fa-circle text-warning"></i> High priority</span>-->
            <!--</p>-->
            <!--<h5>Project tag</h5>-->
            <!--<ul class="tag-list" style="padding: 0">-->
                <!--<li><a href=""><i class="fa fa-tag"></i> Zender</a></li>-->
                <!--<li><a href=""><i class="fa fa-tag"></i> Lorem ipsum</a></li>-->
                <!--<li><a href=""><i class="fa fa-tag"></i> Passages</a></li>-->
                <!--<li><a href=""><i class="fa fa-tag"></i> Variations</a></li>-->
            <!--</ul>-->
            <!--<h5>Project files</h5>-->
            <!--<ul class="list-unstyled project-files">-->
                <!--<li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>-->
                <!--<li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>-->
                <!--<li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>-->
                <!--<li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>-->
            <!--</ul>-->
            <!--<div class="text-center m-t-md">-->
                <!--<a href="#" class="btn btn-xs btn-primary">Add files</a>-->
                <!--<a href="#" class="btn btn-xs btn-primary">Report contact</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>