<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Anton Zubarev">

        <title>AngularJS Project</title>

        <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="/css/plugins/chosen/chosen.css" rel="stylesheet">

        <!-- Font awesome -->
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

        <!-- Main Inspinia CSS files -->
        <link href="css/animate.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" id="loadBefore">


        <script type="text/javascript">
            window.user = <%- user || 'null' %>;
        </script>

    </head>


    <body ng-app="mean">


        <!-- Wrapper-->
        <div id="wrapper">

            <!-- Navigation -->
            <div ng-include="'views/common/navigation.html'"></div>

            <!-- Page wraper -->
            <!-- ng-class with current state name give you the ability to extended customization your view -->
            <div id="page-wrapper" class="gray-bg">

                <!-- Page wrapper -->
                <div ng-include="'views/common/topnavbar.html'"></div>

                <!-- Main view  -->
                <div ui-view></div>

                <!-- Footer -->
                <!--<div ng-include="'views/common/footer.html'"></div>-->

            </div>
            <!-- End page wrapper-->

            <!-- Right Sidebar -->
            <!--<div ng-include="'views/common/right_sidebar.html'"></div>-->

        </div>
        <!-- End wrapper-->



        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="/js/plugins/chosen/chosen.jquery.js"></script>
        <script type="text/javascript" src="/bower_components/angular-chosen-localytics/dist/angular-chosen.js"></script>

        <!-- jQuery UI -->
        <script src="js/plugins/jquery-ui/jquery-ui.js"></script>

        <!-- MetsiMenu -->
        <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

        <!-- SlimScroll -->
        <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <!-- Peace JS -->
        <script src="js/plugins/pace/pace.min.js"></script>

        <!-- iCheck -->
        <script src="js/plugins/iCheck/icheck.min.js"></script>

        <!-- Main Angular scripts-->
        <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <!--<script src="js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>-->
        <script src="/bower_components/angular-translate/angular-translate.min.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <!--<script src="js/plugins/angular-idle/angular-idle.js"></script>-->


        <script type="text/javascript" src="/index/index.client.module.js"></script>
        <script type="text/javascript" src="/index/config/index.client.routes.js"></script>
        <script type="text/javascript" src="/index/controllers/index.client.controller.js"></script>

        <script type="text/javascript" src="/users/users.client.module.js"></script>
        <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
        <script type="text/javascript" src="/users/services/users.client.service.js"></script>

        <script type="text/javascript" src="/tasks/tasks.client.module.js"></script>
        <script type="text/javascript" src="/tasks/controllers/tasks.client.controller.js"></script>
        <script type="text/javascript" src="/tasks/controllers/chosenController.client.controller.js"></script>
        <script type="text/javascript" src="/tasks/controllers/datePickerController.client.controller.js"></script>
        <script type="text/javascript" src="/tasks/controllers/tagsController.client.controller.js"></script>
        <script type="text/javascript" src="/tasks/services/tasks.client.service.js"></script>
        <script type="text/javascript" src="/tasks/config/tasks.client.routes.js"></script>

        <script type="text/javascript" src="/projects/projects.client.module.js"></script>
        <script type="text/javascript" src="/projects/config/projects.client.routes.js"></script>
        <script type="text/javascript" src="/projects/controllers/projects.client.controller.js"></script>
        <script type="text/javascript" src="/projects/services/projects.client.service.js"></script>

        <script type="text/javascript" src="/issues/issues.client.module.js"></script>
        <script type="text/javascript" src="/issues/config/issues.client.routes.js"></script>
        <script type="text/javascript" src="/issues/controllers/issues.client.controller.js"></script>
        <script type="text/javascript" src="/issues/services/issues.client.service.js"></script>

        <script type="text/javascript" src="/teams/teams.client.module.js"></script>
        <script type="text/javascript" src="/teams/config/teams.client.routes.js"></script>

        <script type="text/javascript" src="/customers/customers.client.module.js"></script>
        <script type="text/javascript" src="/customers/config/customers.client.routes.js"></script>

        <script type="text/javascript" src="/agile/agile.client.module.js"></script>
        <script type="text/javascript" src="/agile/config/agile.client.routes.js"></script>

        <script type="text/javascript" src="/calendar/calendar.client.module.js"></script>
        <script type="text/javascript" src="/calendar/config/calendar.client.routes.js"></script>

        <script type="text/javascript" src="/js/app.js"></script>
    </body>
</html>